body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    /* background-color: blue; */
}

@font-face {
    font-family: 'Marbella';
    src: url('../marbella.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-acent:
        rgb(236, 75, 125);
    --color-green: #20af20;
    --color-blue: #8adfff;
    --cubic:
        cubic-bezier(0, 0.53, 0.11, 0.995);
}

.progress-container {
    /* display: none; */
    z-index: 5;
    color: #fff;
    width: max-content;
    position: fixed;
    bottom: 0.7vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: 1s var(--cubic) all;
    opacity: 0;
    transform: scale(1.3);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-container.show {
    opacity: 1;
    transform: scale(1);
    visibility: visible;

}

.progress-labels {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: bankgothic !important;
    padding-top: 0.4vh;
    overflow: visible !important;
    position: relative;
    z-index: 9999;
    text-shadow: 0 0 10px white;
}

.progress-labels div {
    font-size: 2vh;
    position: relative;
    color: #fff;
    z-index: 10;
    overflow: visible !important;
    overflow-x: visible;
    overflow-y: visible;
    text-shadow: 0 0 10px #ffffffba;
    font-family: "marbella";
    z-index: 999;
    letter-spacing: .2vh;
    text-transform: uppercase;
}


.progress-bar-container {
    width: 30vh;
    height: 1vh;
    border-radius: 3px;
    background: #000000;
    /* box-shadow: 0.3vh 0.3vh 0 #ffffff, 0 0 30px #0000003d; */
    padding: 0.4vh;
    position: relative;
    background-position: center left;
}


.progress-bar-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0.3vh;
    left: 0.3vh;
    /* background: red; */
    width: calc(100% - 0.6vh);
    height: calc(100% - 0.6vh);
    border-radius: 5px;
    background: linear-gradient(132deg, rgb(0 0 0 / 75%), rgb(0 0 0 / 53%));
    z-index: 0;
    /* backdrop-filter: blur(10px); */
    background-size: center;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background: #ffe000;
    /* filter: opacity(0.5); */
    background-size: 400% 400%;
    /* animation: gradient 5s ease infinite; */
    /* box-shadow: 0 0 20px #ffffff9a; */
    /* animation: gradient 5s ease infinite; */
    border-radius: 3px;
    transition: 0.25s linear all;
    z-index: 30 !important;
    position: relative;
}


/* 
.progress-bar-container {
    width: 100%;
    height: 31px;
    text-align: left;
    position: relative;
    display: block;
    white-space: nowrap;
    padding: 5px;
    overflow: visible;
    background: #000000ac;
      background-position-x: 0%;
      background-position-y: 0%;
    box-shadow: rgb(0 0 0 / 75%) 0px 0px 40px;
    border-radius: 3px;
    background-position: center;
}

.progress-bar {
    width: 0%;
    height: 100%;
    transition: width 0.3s;
      transition-timing-function: ease;
    transition-timing-function: ease-out;
    background: white !important;
    background-color: white !important;
      background-size: auto;
    box-shadow: 0 0 10px 2px white;
    box-shadow: 0 0 10px #ffffffbf;
    background-size: 200px;
 

} */

@keyframes escala {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}