@import url("https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap");

@font-face {
	font-family: 'marbella';
	src: url('../html/Evogria_Italic.otf') format('truetype');
}

body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.progress-container {
    display: none;
    z-index: 1000;
    position: fixed;
    bottom: 5%; /* Más abajo en la pantalla */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 400px;
    font-family: 'marbella', sans-serif;
}

#progress-label {
    font-size: 3.4vh;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 10px;
    animation: glowing 2s infinite ease-in-out;
    letter-spacing: 10px; /* <--- separa las letras */
}

/* Animación suave de texto */
@keyframes glowing {
    0%, 100% {
        text-shadow:
            0 0 5px #ffcc0000,
            0 0 10px #ffcc0000,
            0 0 20px #ffcc0000,
            0 0 30px #ffcc0000;
    }
    50% {
        text-shadow:
            0 0 10px #fff176,
            0 0 20px #fff176,
            0 0 30px #fff176,
            0 0 40px #fff176;
    }
}


.progress-bar-container {
    background-color: #000000;
    width: 100%;
    height: 20px;
    position: relative;
    border: none;
    border-radius: 4px; /* Ligeramente redondeado */
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

#progress-bar {
    background-color: #ffcc00;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
    border-radius: 4px; /* Ligeramente redondeado */
}